<!doctype html>
<html lang="en">
  <head>
    <%- include('secret/partials/head') %>
  </head>
  <body>
    <%- include('secret/partials/header') %>
    <br><br><br>

    <main class="container">



    <h1 id="main-day">This is secrect page</h1>

    <div class="main-button-group btn-group-sm" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" id="main-button-prev-day">Prev Day</button>
      <button type="button" class="btn btn-primary" id="main-button-today">Today</button>
      <button type="button" class="btn btn-primary" id="main-button-next-day">Next Day</button>
    </div>


    <table id="main-calendar" class="table">

        <th></th>
        <% for(let hour = 0; hour < 12; hour++) { %>
            <th id="hour-<%= hour %>"><p class="main-calendar-hour"><%= hour %><br><span class='ampm'>am</span></p></th>
        <% } %>
        <th id="hour-12"><p class="main-calendar-hour">12<br><span class='ampm'>pm</span></p></th>
        <% for(let hour = 1; hour < 12; hour++) { %>
            <th id="hour-<%= hour %>"><p class="main-calendar-hour"><%= hour %><br><span class='ampm'>pm</span></p></th>
        <% } %>

      <% myFriends.forEach((friend) => { %>
        <tr>
          <td><span class="main-calendar-email"><%= friend.email %></span><br><span class="main-calendar-timezone">(<%= friend.timezone %>)</span></td>
          <% for(let hour = 0; hour < 24; hour++) { %>
            <td id="<%= friend.email.replace(/[@.]/g, "") %>-hour-<%= hour %>">
              
            </td>
          <% } %>
        </tr>
        
      <% }); %>
    </table>



  </main>


    <%- include('secret/partials/footer') %>

    <script>

      // global date vars
      var todayDate = new Date();
      var curDay = todayDate.getDay();
      var prevDay = curDay;

      const formattedDate = todayDate.toLocaleString("en-GB", {
        weekday: 'long',
        day: "numeric",
        month: "short",
        year: "numeric",
      });

      // populate today's date in div
      $('#main-day').html(formattedDate);

      // init element ID for each table cell
      <% myFriends.forEach((friend) => { %>
        for (var i = 0; i < 24; i++) {
          var email = '<%- friend.email %>';
          var availability = <%- JSON.stringify(friend.availability) %>;
          var timezoneOffset = '<%- friend.timezoneOffset %>';
          var elementID = "#"+ email.replace(/[@.]/g, "") + "-hour-" + i.toString();
          $(elementID).attr("id", email.replace(/[@.]/g, "") + "-day-" + curDay + "-hour-" + i.toString());
        }
      <% }); %>


      function changeCellColor(day = -1) {
        <% myFriends.forEach((friend) => { %>
          var email = '<%- friend.email %>';
          var availability = <%- JSON.stringify(friend.availability) %>;
          var timezoneOffset = '<%- friend.timezoneOffset %>';


          // get today's date
          if (day != -1) {
            curDay = day;
          }
          

          // change element ID for each table cell
          for (var i = 0; i < 24; i++) {
            var elementID = "#"+ email.replace(/[@.]/g, "") + "-day-" + prevDay + "-hour-" + i.toString();
            $(elementID).removeClass('schedule-free');
            $(elementID).attr("id", email.replace(/[@.]/g, "") + "-day-" + curDay + "-hour-" + i.toString());
          }


          // change the colors on each table cell according to availability
          availability.forEach((event) => {
            
            for (var j = 0; j < event.day.length; j++) {

              for (var i = parseInt(event.hourstart); i < parseInt(event.hourend); i++) {
                var iTimezoneOffset = (i + (parseInt(timezoneOffset) || 0));
                var iTimezoneOffsetDay = parseInt(event.day[j]);

                if (iTimezoneOffset > 23) {
                  // next day
                  iTimezoneOffset = iTimezoneOffset%24;
                  iTimezoneOffsetDay = (iTimezoneOffsetDay + 1)%7;
                } else if (iTimezoneOffset < 0) {
                  // prev day 
                  iTimezoneOffset = iTimezoneOffset + 24;
                  iTimezoneOffsetDay -= 1;
                  if (iTimezoneOffset < 0) iTimezoneOffsetDay += 7;
                } else {
                  // cur day in cur timezone
                }

                var elementID = "#"+ email.replace(/[@.]/g, "") + "-day-" + iTimezoneOffsetDay + "-hour-" + iTimezoneOffset.toString();
                  $(elementID).addClass('schedule-free');

              }
            };
          });
        <% }); %>
      }

      changeCellColor();

      $('#main-button-prev-day').on('click', (e) => {
        prevDay = curDay;
        curDay = curDay - 1;
        if (curDay < 0) curDay += 7;
        changeCellColor(day = curDay);

        todayDate.setDate(todayDate.getDate() - 1);

        const formattedDate = todayDate.toLocaleString("en-GB", {
          weekday: 'long',
          day: "numeric",
          month: "short",
          year: "numeric",
        });

        // populate today's date in div
        $('#main-day').html(formattedDate);
      });

      $('#main-button-next-day').on('click', (e) => {
        prevDay = curDay;
        curDay = curDay + 1;
        if (curDay > 6) curDay -= 7;
        changeCellColor(day = curDay);

        todayDate.setDate(todayDate.getDate() + 1);

        const formattedDate = todayDate.toLocaleString("en-GB", {
          weekday: 'long',
          day: "numeric",
          month: "short",
          year: "numeric",
        });

        // populate today's date in div
        $('#main-day').html(formattedDate);
      });

      $('#main-button-today').on('click', (e) => {
        // global date vars
        todayDate = new Date();
        prevDay = curDay;
        curDay = todayDate.getDay();
        
        const formattedDate = todayDate.toLocaleString("en-GB", {
          weekday: 'long',
          day: "numeric",
          month: "short",
          year: "numeric",
        });

        // populate today's date in div
        $('#main-day').html(formattedDate);

        changeCellColor(day = curDay);
      });
      
    </script>

  </body>
</html>




