<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <br><br><br>
    

    <form class="form-addfriend" action="/secret/friends/add" method="POST">
      <div class="single-line-forms">
        <div class="single-line-forms-input">
          <input class="form-control" type="email" name="email" id="email" placeholder="Email address " required/>
        </div>
        <input type="submit" id="submitDetails" class="btn btn-lg btn-primary btn-block" name="submitDetails" value="Add Friend" />
      </div>
    </form>         



    <div class="container"><div class="row">

      <% friendsRequest.forEach(friend => { %>

        <div class="col-md-6 col-xl-4">                       
          <div class="card">
            <div class="card-body">
              <div class="media align-items-center"><span style="background-image: url(https://miro.medium.com/max/720/1*W35QUSvGpcLuxPo3SRTH4w.png)" class="avatar avatar-xl mr-3"></span>
                <div class="media-body overflow-hidden">
                  <h5 class="card-text mb-0"><%=friend%></h5>
                  <p class="card-text text-uppercase text-muted">Incoming Friend Request</p>
                </div>

                <form class="form-friendrequest" action="/secret/friends/accept" method="POST">   
                <input class="form-control form-friendhidden" type="email" name="email" id="email" value="<%=friend%>"/>
                <input type="submit" id="accept" class="btn btn-success btn-sm" name="accept" value="Accept" />
                </form>    
                <form class="form-friendrequest" action="/secret/friends/decline" method="POST"> 
                <input class="form-control form-friendhidden" type="email" name="email" id="email" value="<%=friend%>"/>  
                <input type="submit" id="decline" class="btn btn-danger btn-sm" name="decline" value="Decline" />
                </form>  

              </div><a href="#" class="tile-link"></a>
            </div>
          </div>
        </div>

      <% }) %>



      <% friendsAccepted.forEach(friend => { %>

        <div class="col-md-6 col-xl-4">                       
          <div class="card">
            <div class="card-body">
              <div class="media align-items-center"><span style="background-image: url(<% if ( friend in customization && customization[friend]['profile'].length > 0) { %><%= customization[friend]['profile'].trim(); %> <% } else { %><%= 'https://miro.medium.com/max/720/1*W35QUSvGpcLuxPo3SRTH4w.png' %> <% } %>)" class="avatar avatar-xl mr-3"></span>
                <div class="media-body overflow-hidden">

                  <h5 class="card-text mb-0 card-text-email">

                    <% if ( friend in customization && customization[friend]['nickname'].length > 0) { %><%= customization[friend]['nickname'].trim(); %> <% } else { %><%= friend %> <% } %><% if ( friend in customization && customization[friend]['group'].length > 0) { %>
                      <input type="button" class="btn btn-sm btn-outline-info friends-group" name="friends-group" value="<%= customization[friend]['group'].trim(); %> "/>
                    <% } %>
                      
                  </h5>

                  <p class="card-text text-uppercase text-muted friends-card-accepted">Friends
                    
                  </p>

                  <input type="button" class="btn btn-sm btn-primary btn-block friends-manage" name="manage-friend" value="Manage" onclick="openForm('<%=friend%>', 
                                     '<% if ( friend in customization && customization[friend]['nickname'].length > 0) { %><%= customization[friend]['nickname']; %> <% } else { %><%= '' %> <% } %>', 
                                     '<% if ( friend in customization && customization[friend]['nickname'].length > 0) { %><%= customization[friend]['group']; %> <% } else { %><%= '' %> <% } %>', 
                                     '<% if ( friend in customization && customization[friend]['nickname'].length > 0) { %><%= customization[friend]['profile']; %> <% } else { %><%= '' %> <% } %>'
                                     )"/>
                </div>
              </div><a href="#" class="tile-link"></a>
            </div>
          </div>
        </div>

      <% }) %>

      <% friendsPending.forEach(friend => { %>

        <div class="col-md-6 col-xl-4">                       
          <div class="card">
            <div class="card-body">
              <div class="media align-items-center"><span style="background-image: url(https://miro.medium.com/max/720/1*W35QUSvGpcLuxPo3SRTH4w.png)" class="avatar avatar-xl mr-3"></span>
                <div class="media-body overflow-hidden">
                  <h5 class="card-text mb-0"><%=friend%></h5>
                  <p class="card-text text-uppercase text-muted">Friend Request Sent</p>
                </div>
              </div><a href="#" class="tile-link"></a>
            </div>
          </div>
        </div>

      <% }) %>

    </div></div>


    <!-- The form -->
    <div id="friends-form-bg" class="friends-form-popup"></div>
    <div class="friends-form-popup" id="myForm">
      <h2 id="friends-form-email"></h2>
      <form class="form-container" action="/secret/friends/manage"  method="POST" >
        <label for="nickname"><b>Nickname</b></label>
        <input type="text" class="form-control form-control-lg" id="friends-form-nickname" placeholder="Enter Nickname" name="nickname">

        <label for="group"><b>Group</b></label>
        <input type="text" class="form-control form-control-lg" id="friends-form-group" placeholder="Enter Group" name="group">

        <label for="profile"><b>Profile Pic</b></label>
        <input type="text" class="form-control form-control-lg" id="friends-form-profile" placeholder="Enter Image URL" name="profile">

        <input class="form-control form-friendhidden" id="friends-form-email-hidden" type="email" name="email" id="email" value=""/>
        <button type="submit" class="btn btn-sm btn-success btn-block">Submit</button>
        <button type="button" class="btn btn-sm btn-danger btn-block cancel" onclick="closeForm()">Cancel</button>
      </form>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>




