<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <br><br><br>

    <div class="container">
      <div class="row">
        <div class="col-3">

          <h3>My Timezone</h3>

          <form class="form-timezone" id="form-timezone" action="/secret/myschedule/updatetimezone" method="POST">
            <input class="form-control" list="timezoneOptions" name="timezoneOption" id="timezoneOption" value="<%= timezone %>">
            <datalist id="timezoneOptions">
              <% allTimezones.forEach(function(timezone) { %>
                <option value="<%= timezone %>"><%= timezone %></option>
              <% }); %>
            </datalist>
            <input type="submit" value="Update My Timezone">
          </form>

          <br>
          <h3>My Availability</h3>

          <div>Add New Time Slot</div>

          <form class="form-schedule" id="form-schedule" action="/secret/myschedule/add" method="POST">
            <% for(let day = 0; day < 7; day++) { %>
            <div class="form-check form-check-inline">
              <input type="checkbox" id="add-time-day-<%= day %>" name="add-time-day" value="<%= day %>" required>
              <br><label for="add-time-day-<%= day %>"><%= weekdays[day] %></label>
            </div>
            <% } %>
            <br>
            <select id="add-time-hour-start" name="add-time-hour-start">
              <% for(let hour = 0; hour <= 24; hour++) { %>
                  <option value="<%= hour %>"><%= hour %>:00</option>
              <% } %>
            </select>
            -
            <select id="add-time-hour-end" name="add-time-hour-end">
              <% for(let hour = 0; hour <= 24; hour++) { %>
                  <option value="<%= hour %>"><%= hour %>:00</option>
              <% } %>
            </select>

            <input type="submit" value="Add">
          </form>  

          <div>Current Time Slots</div>

          <div class="my-schedule"> 

            <% availability.forEach(function(event) { %>
              <div class="card timeslot">
                <div class="card-body">
                  <h5 class="card-text mb-0">
                  <% for (var i = 0; i < event.day.length; i++ ) { %>
                    <%=weekdays[event.day[i]]%><% if (i < event.day.length - 1) { %>, <% } %>
                  <% } %>
                </h5>
                <p class="card-text text-uppercase text-muted"><%=event.hourstart%>:00-<%=event.hourend%>:00</p>

                <form class="form-friendrequest" action="/secret/myschedule/remove" method="POST">   
                <input class="form-control form-schedulehidden" type="eventid" name="eventid" id="eventid" value="<%=event.id%>"/>
                <input type="submit" id="accept" class="btn btn-danger btn-sm" name="accept" value="Remove" />
                </form>
              </div></div>
            <% }); %>
            
          </div>



        </div>
        <div class="col-8">

          <table id="schedule-calendar" class="table">
              <th></th>
              <th>Sunday</th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
            <% for(let hour = 0; hour < 12; hour++) { %>
              <tr>
                <td><p class="schedule-calendar-hour"><%= hour %><span class='ampm'>am</span></p></td>
                <% for(let day = 0; day < 7; day++) { %>
                  <td id="day-<%= day %>-hour-<%= hour %>">
                    
                  </td>
                <% } %>
              </tr>
            <% } %>
            <tr>
              <td><p class="schedule-calendar-hour">12<span class='ampm'>pm</span></p></td>
              <% for(let day = 0; day < 7; day++) { %>
                <td id="day-<%= day %>-hour-12">
                  
                </td>
              <% } %>
            </tr>
            <% for(let hour = 1; hour < 12; hour++) { %>
              <tr>
                <td><p class="schedule-calendar-hour"><%= hour %><span class='ampm'>pm</span></p></td>
                <% for(let day = 0; day < 7; day++) { %>
                  <td id="day-<%= day %>-hour-<%= hour + 12 %>">
                    
                  </td>
                <% } %>
              </tr>
            <% } %>

          </table>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>


    <script>


      <% availability.forEach(function(event) { %>
          var day = [<%- event.day %>];
          var hourStart = <%= event.hourstart %>;
          var hourEnd = <%= event.hourend %>
          for (var j = 0; j < day.length; j++) {
            for(var i = hourStart; i < hourEnd; i++) {
              console.log("#day-" + day[j] + "-hour-" + i);
              $("#day-" + day[j] + "-hour-" + i).addClass('schedule-free');
            }
          }
      <% }); %>
    
      


      $("#form-timezone").submit(function(e) {

          e.preventDefault(); // avoid to execute the actual submit of the form.
          var form = $(this);
          var actionUrl = form.attr('action');
          
          $.ajax({
              type: "POST",
              url: actionUrl,
              data: form.serialize(), // serializes the form's elements.
              success: function(data)
              {
                var r = confirm("Timezone updated.");
                if (r == true){
                  window.location.reload();
                }
              }
            });
      });

      

    </script>
  </body>
</html>




